body,ul,li,a{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
::-webkit-scrollbar{
	color: transparent;
}
a,a:hover,a:active,a:visited,a:link,a:focus{
	text-decoration: none;
    color:#000000;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	outline:none;
	background: none;
	text-decoration: none;
}
.app_zong{
	position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.app_you{
	display: flex;
    justify-content: center;
}
.app_y1{
	width: 39rem;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login_title_content{
	
}
.dengmi{
	display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: center;
	font-size:1.5rem;
    font-weight: 500;
    color: rgba(47,46,63,.45);
    cursor: pointer;
    margin-bottom: 0.64rem;
}
.dl{
	color: #2f2e3f;
}
.sxian{
	margin: 0 1rem;
    width: 0.1rem;
    height: 2rem;
    background: #e3e5e8;
}
.dxyz1{
    font-size: .20rem;
    font-weight: 500;
    color: rgba(47,46,63,.45);
    cursor: pointer;
    margin-bottom: 0.64rem;
}
