body,ul,li,a{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
::-webkit-scrollbar{
	color: transparent;
}
a,a:hover,a:active,a:visited,a:link,a:focus{
	text-decoration: none;
    color:#000000;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	outline:none;
	background: none;
	text-decoration: none;
}
.s1{
	display: flex;
	justify-content: space-between;
	
}
.si_div{
	flex-grow: 1;
}
.si_img{
	padding: 2rem 2.7rem 0;
}
.si_img img{
	width: 350px;
}
.si_img2{
	padding: 2rem 2.7rem 0;
}
.shang{
	width: 100%;
	background-image: url(../img/t/download3.png) ;
	
	background-size: 100% 100%;
	overflow: hidden;
}
.st{
	background-color: #f7f7f7;
	overflow: hidden;
	min-height: 100vh;
}
.s3{
	width: 900px;
    background-color: rgba(255,255,255,0.4);
    height: 300px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;   
    overflow: hidden;
}
.s3_box{
	width: 1.2rem;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.s3_box img{
	width: 150px;
}
.s3_xiaobiao{
	position: absolute;
    /*top: 0.05rem;*/
    right: 14rem;
    width: 4rem !important;
    height: 3rem !important;
}
.s3_xiaobiao2{	
    position: absolute;
    right: 3rem !important;
    width: 3rem !important;
    height: 3rem !important;


}
.ziti{
    width: 100%;
    font-size:1.5rem;
    /*font-weight: 400;*/
    color: #222;
    white-space: nowrap;
    margin: 0.11rem 0 0 0;

}
p{
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.guanfang{
	margin-left: 40px;
	/*width: 100%;*/
	/*border: 1px solid #102327;*/
	position: relative;
	top: 45px;
}
.faxing{
	font-size: 40px;
	font-weight: bold;
}
.guanfang1{
	position: relative;
	float:right;
}
.gengduo{
	position: relative;
	float:left;
	top: -50px;
	font-size: 40px;
	color: darkgray;
}


/*中*/
.lie{
	width: 100%;
	position: relative;
	/*top:50px;*/
	overflow-x: auto;
	overflow-y: auto;
  
}

.ul_list2{
	list-style: none;
    margin-left: 20px;
    margin-right: 30px;
    float: left;
    display: flex;
	justify-content: center;
	align-items: center;
	
	  /*width: 600px;
	height: 600px;
    margin: 0 auto;
    border-radius: 15px;
    background: #ccc;
    position: relative;*/
    /*background-color: rgba(200,200,200,0.1);*/
}
.li_list2 img{
	border-radius: 15px;
	width: 600px;
	height:600px;
}

.li_list2{
	height: 920px;
	margin: 50px 27px 0;
	padding: 50px 27px 0;
	background-color:#FFFFFF;
}

.lieshou3{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	margin: -400px 0px 0px 230px;
	width: 150px;
	height: 150px;
	color: #FFFFFF;
	font-family: "微软雅黑";
	font-size: 35px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 50%;
}
.lieshou4{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.lieshou4 img{
	/*display: flex;
	justify-content:  flex-end;
	align-items: center;*/
	position: absolute;
	top: 37rem;
    /*right: 14rem !important;*/
    width: 5rem !important;
    height: 5rem !important;
	width: 100px;
	height: 100px;
}

/*tuxia*/
.anguang{
	padding: 1rem 0;
	font-size: 40px;
	color:  darkslategrey;
	/*width: 20px;*/
}
.zuzong{
	display: flex;
	justify-content: space-between;
    align-items: baseline;
    margin-top: 0.2rem;
    color: #cca173 !important;
}
.li_list2{
	display: inline;
	margin:50px 27px 0 0;
    padding: 27px 27px 0;
    box-sizing: border-box;
    background: #fff;

}
.ul_list2{
	list-style: none;
    /*margin-left: 50px;*/
    margin-right: 30px;
    float: left;
    background-color: rgba(200,200,200,0.1);
}

.zu1{
	display: flex;
	flex-direction: row;
    background: #f7f7f7;
    padding-right: 0.1rem;
    align-items: center;
    font-size: .22rem;

}
.zu2{
	display: flex;
    flex-direction: row;
    background: #f7f7f7;
    padding-right: 0.1rem;
    align-items: center;
    font-size: .22rem;
    color: #222;
}

.xianliang{
	display: block;
    background: linear-gradient(90deg, #cba072 0%, #f3e0bf 100%);
    border-radius: 0.04rem;
    color: #000;
    padding: 0.05rem 0.13rem;
    font-size: .22rem;
    margin-right: 0.12rem;
	font-size: 25px;	
	/*background: -webkit-linear-gradient(left,#cca173,#FFFFFF );
    background: -o-linear-gradient(right, #cca173, #FFFFFF); 
    background: -moz-linear-gradient(right, #cca173, #FFFFFF); 
    background: linear-gradient(to right, #cca173, #FFFFFF); */
}
.xiangou{
	    display: block;
    background: linear-gradient(90deg, #58de81 0%, #46b252 100%);
    border-radius: 0.04rem;
    color: #fff;
    padding: 0.05rem 0.13rem;
    font-size: .22rem;
    margin-right: 0.12rem;
	font-size: 25px;
	/*color: white;	
	background: -webkit-linear-gradient(left,#0f8741,#15a751 );
    background: -o-linear-gradient(right, #06d75d,#9ce6bb); 
    background: -moz-linear-gradient(right, #06d75d,#9ce6bb); 
    background: linear-gradient(to right, #11ac52,#12a14e); */
}

.fen{
	font-size: 25px;
	background-color: aliceblue;
}
.fen2{
	font-size: 25px;
	background-color: aliceblue;
}
.lieshou{
    /*width: 600px;
	height: 600px;*/
    margin: 0 auto;
    border-radius: 15px;
    background: #ccc;
    position: relative;
}
.lieshou_img1{
	max-width: 500px;height: 500px;
}
.qian{
	display: flex;
	justify-content: space-between;
    align-items: center;
}
.qian1{
	padding: 2rem 0;
	color: red;
	font-size: 2.5rem;
}
.xin img{
	margin: 1rem;
	width: 3rem;
	height: 2.5rem;
}
.xin2{
	font-size: 2rem;
	color: #A9A9A9;
}
.xihuan{
	display: flex;
	padding: 1rem 0;
}
.jinqian{
	padding:1rem 0 ;
}
.jinqian img{	
	width: 2rem;
	height: 2rem;
}
.jinqian a{
	color: #ff8501 !important;;
	font-size: 2.5rem;
}
.shengyu{
	font-size: 2rem;
	color:  #A9A9A9;
}
/*中下*/
.lie2{
	/*height: 56vh;*/
	width: 100%;
	position: relative; 
	/*top:50px;*/
	overflow-x: auto;
	overflow-y: auto;
	}
.ul_list3{
	list-style: none;
    /*margin-left: 20px;*/
    margin-right: 30px;
    float: left;
    display: flex;
	justify-content: center;
	align-items: center;
	}
.li_list3{
	height: 36rem;
	margin: 50px 27px 0;
	padding: 50px 27px 0;
	background-color:#FFFFFF;
}
.li_list3img{
	border-radius: 15px;
	width:350px;
	height:350px;
}
.lieshou5{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.lieshou5 img{
	/*display: flex;
	justify-content:  flex-end;
	align-items: center;*/
	position: absolute;
	top: 23rem;
    /*right: 14rem !important;*/
    width: 5rem !important;
    height: 5rem !important;
	width: 100px;
	height: 100px;
}
/*链游戏*/
.lie3{
	height: 42rem;
	width: 100%;
	position: relative;
	/*top:50px;*/
	overflow-x: auto;
	overflow-y: auto;
	}
.ul_list4{
	list-style: none;
    /*margin-left: 20px;*/
    /*margin-right: 30px;
    float: left;*/
    display: flex;
	justify-content: center;
	align-items: center;
	}
.li_list4{
	/*height: 46vh;*/
	margin: 50px 30px 0;
	padding: 20px 27px 0;
	background-color:#FFFFFF;
}
.li_list4img{
/*	border-radius: 15px;*/
	width:845px;
	height:500px;
}
.yuedu{
	display: flex;
	justify-content: space-between;
    align-items: center;
}
.yd1{
	font-size: 2.5rem;
	font-weight: bold;
}
.yd2{
	font-size: 2rem;
	padding: 0.5rem 0.5rem 0.5rem;
    box-sizing: border-box;
    border: 1px solid #cca173;
    color: #cca173;
    border-radius: 1rem;
}

/*秘市*/
.m{
	height: 40rem;
	width: 100%;
	position: relative;
	/*top:50px;*/
	overflow-x: auto;
	overflow-y: auto;
	}
.ul_listmi{
	list-style: none;
    /*margin-left: 20px;*/
    margin-right: 30px;
    float: left;
    display: flex;
	justify-content: center;
	align-items: center;
	}
.li_listmi{
	/*height: 46vh;*/
	margin: 50px 27px 0;
	padding: 50px 27px 0;
	background-color:#FFFFFF;
}
.m1{
	width: 25rem;
    height: 23rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.m11{
	top: 3rem;
	width: 15rem;
    height: 15rem;
    position: relative;
	top:-65px;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
	background-image: url(../img/touhuang.png) ;	
	background-size: 100% 100%;
	overflow: hidden;
}
.m11 img{
	width: 8rem;
    height: 8rem;
    position: relative;
    
	right: -4.5rem;
	top:5rem;
}
.mzi{
	position: relative;
	top: -85px;
	font-size: 3rem;
	font-weight: bold;
	display: flex;
    align-items: center;
    justify-content: center;
}
.mzi2{
	display: flex;
    align-items: center;
    justify-content: center;
	position: relative;
	top: -70px;
	font-size: 3rem;
	font-weight: bold;
	color: #CEA374;
	
}
.jiugongge{
	width: 100%;
	position: relative;
	overflow-x: auto;
	overflow-y: auto;
	height: 90rem;

	
}
.ul_listjiu{
    /*display: flex;
    align-items: center;
    justify-content: center;*/
	width: 155rem;
	padding: 2rem;	
	/*margin-right: -20px;
	margin-bottom: -20px;*/
	margin-top: 3rem;
}
.li_listjiu{
	float: left;
	width: 50rem;
	margin-right: 20px;
	margin-bottom: 20px;
	list-style: none;
	text-align:center ;
	height: 23rem;
	border-radius: 20px;
	background: #FFFFFF;
}
.jiu1{
	float: inherit;
	padding: 1.25rem 0rem 0.5rem 2rem;
	width: 20rem;
	height: 20rem;
	/*padding: 0.5rem 0rem 0.5rem 2rem;*/
}
.jiutu img{
	/*padding: 1.25rem 0rem 0.5rem 2rem;*/
	width: 20rem;
	height: 20rem;
	border-radius: 20px;
}
.jiut2{
	float: inherit;
}
.jiut2 img{
	position: absolute;
	top: 22rem;
	right: 38.5rem;
	width: 3rem;
	height: 3rem;
}
.jiuz{
	
	position: relative;
	right: -24rem;
	top: -15rem;
}
.jz1{
	margin-bottom: -3rem;
	margin-top: -3rem;
	font-size:2.3rem;
	font-family: "微软雅黑";
	font-weight: bold;
}
.jz2{
	margin-bottom: -3rem;
	margin-right: 12rem;
	margin-top: 8rem;
	font-size: 2.5rem;
	color: #CCA173;
}
.jz3{
	display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -2rem;
	margin-right: 11rem;
	margin-top: 5rem;
	
}
.jz3 img{
	
	width: 3rem;
	height: 4rem;
}
.jz31{
	font-size: 2.5rem;
	color: #red;
}
/*脚丫子*/
.xia{
    background: #FFFFFF;
	position: fixed;
    bottom: 0px;
    left: 0px;
    height: 8rem;
    width: calc(100% - 1.6rem);    
    box-shadow: 0px 3px 16px rgb(66 69 74 / 30%);
    border-radius: 12px 12px 2px 2px;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: space-between;
   /* padding: 2rem;*/
    padding-inline-end: 2rem;
}
.xia img{
	width: 3rem;
	height:3.5rem;
}
.xia1zs{
	font-size: 1.5rem;
	color: #CEA374;
}
.xia1z{
	font-size: 1.5rem;
}
.xia1{
	padding:5rem;
}
